@{
    ViewBag.Title = "About Me";
}
<h1>@ViewBag.Title</h1>

<section>
    <h4>Interests</h4>
    <ul>
        <li>Weight Lifting</li>
        <li>Spending time with my girlfriend</li>
        <li>Gaming</li>
        <li>Visiting new places</li>
        <li>Spending time with my family</li>
        <li>Cooking</li>
    </ul>
</section>

<section>
    <h4>Favorite Resturants</h4>
    <ul>
        <li>Olive Garden</li>
        <li>BJ's Brewhouse'</li>
        <li>Raising Canes</li>
        <li>Genki Ramen</li>
    </ul>
</section>

<section>
    <h4>Hobbies</h4>
    <ul>
        <li>Watching Anime</li>
        <li>Listening to music</li>
    </ul>
    <a asp-controller="Jaxon" asp-action="HobbyList">Additional Hobbies</a>
</section>

<section>
    <h4>Goals</h4>
    <p>
        My goal is to be able to get a good paying job after graduating college in hopes of becoming a IT Manager one day.
    </p>
</section>