@{
    ViewBag.Title = "About Me";
}

<h1>@ViewBag.Title</h1>

<section>
    <h4>Interests</h4>
    <ul>
        <li>Software development</li>
        <li>Web development</li>
        <li>Traveling</li>
        <li>Working out</li>
        <li>Spending time with friends</li>
        <li>Learning new technology</li>
    </ul>
</section>

<section>
    <h4>Favorite Restaurants</h4>
    <ul>
        <li>Condado</li>
        <li>Canes</li>
        <li>Chipotle</li>
        <li>Texas Roadhouse</li>
    </ul>
</section>

<section>
    <h4>Hobbies</h4>
    <ul>
        <li>Building apps</li>
        <li>Listening to music</li>
        <li>Travel planning</li>
    </ul>
    <a asp-controller="Christopher" asp-action="HobbyList">Additional Hobbies</a>
</section>

<section>
    <h4>Goals</h4>
    <p>
        My goal is to become a successful IT professional and continue building
        useful applications that improve user experiences.
    </p>
</section>