@{
    ViewBag.Title = "About Me";
}
<h1>@ViewBag.Title</h1>

<section>
    <h4>Interests</h4>
    <ul>
        <li>Programming and software development</li>
        <li>Learning new technologies</li>
        <li>Gaming</li>
        <li>Going out to eat at new places</li>
        <li>Spending time with my family</li>
        <li>Traveling to different countries in Europe</li>
    </ul>
</section>

<section>
    <h4>Favorite Resturants</h4>
    <ul>
        <li>Panda Express</li>
        <li>Drunken Bentos</li>
        <li>Mad Mikes</li>
        <li>Wing Stop</li>
    </ul>
</section>

<section>
    <h4>Hobbies</h4>
    <ul>
        <li>Watching movies</li>
        <li>Listening to music</li>
    </ul>
    <a asp-controller="Jon" asp-action="HobbyList">Additional Hobbies</a>
</section>

<section>
    <h4>Goals</h4>
    <p>
        My goal is to become a skilled software developer and build applications
        that solve real-world problems.
    </p>
</section>